*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background: white;
}
header{
    width: 10px;
    float: left;
    margin-top: 10px;
    border-bottom: 2px solid#eee;
    margin-bottom: 10px;
    width: 100%;
    text-align:  right;
    height: 10;
}


header a{
    text-decoration: none;
    color: #333;
    background:url(img/chiquimundi.png);
   margin-right: 20px;

   
}
header img[src="img/chiquimundi.png"]{
   
    border-radius: 100px;
  margin-left: 20px;
display: flex;
}
div {
    width: 90%;
    background:white;
    margin: 5px auto ;
    display: grid;
    grid-template-columns: 160px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-auto-rows: 60px;
    text-align: center;
    
    
}
h1[class="text-center "],h2[class="text-center "]{
text-align: center;
}
div[class="table--header"]{
font-weight: bold;
font-size: 1em;

text-align: left;
}
div[class="table__item"]{
margin-right: 14px;



}